# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
#
aws.tar
.vscode


# ml

files/ml/emotion
files/ml/emotion.tar.gz
files/ml/emotion/models
files/ml/emotion/models/emotion-ferplus-2.onnx
files/ml/emotion/models/emotion-ferplus-7.onnx
files/ml/emotion/models/emotion-ferplus-8.onnx
files/ml/emotion/models/FER_trained_model.pt
files/ml/emotion/models/haarcascade_frontalface_default.xml
files/ml/emotion/models/README.md
files/ml/human-activity-recognition
files/ml/human-activity-recognition.tar.gz
files/ml/human-activity-recognition/.DS_Store
files/ml/human-activity-recognition/action_recognition_kinetics.txt
files/ml/human-activity-recognition/resnet-34_kinetics.onnx
files/ml/humor
files/ml/humor.tar.gz
files/ml/humor/.DS_Store
files/ml/humor/checkpoints
files/ml/humor/checkpoints/model_2021-02-13_15:30:19.std
files/ml/humor/checkpoints/optim_2021-02-13_15:30:19.std
files/ml/humor/datasets
files/ml/humor/datasets/.DS_Store
files/ml/humor/datasets/MOSEI
files/ml/humor/datasets/MOSEI/dev.pkl
files/ml/humor/datasets/MOSEI/embedding_and_mapping.pt
files/ml/humor/datasets/MOSEI/test.pkl
files/ml/humor/datasets/MOSEI/train.pkl
files/ml/humor/datasets/MOSI
files/ml/humor/datasets/MOSI/dev.pkl
files/ml/humor/datasets/MOSI/embedding_and_mapping.pt
files/ml/humor/datasets/MOSI/test.pkl
files/ml/humor/datasets/MOSI/train.pkl
files/ml/humor/datasets/sdk_features_ur_funny.zip
files/ml/humor/datasets/sdk_features.zip
files/ml/humor/datasets/ur_funny
files/ml/humor/datasets/ur_funny/covarep_features_sdk.pkl
files/ml/humor/datasets/ur_funny/data_folds.pkl
files/ml/humor/datasets/ur_funny/humor_label_sdk.pkl
files/ml/humor/datasets/ur_funny/language_sdk.pkl
files/ml/humor/datasets/ur_funny/openface_features_sdk.pkl
files/ml/humor/datasets/ur_funny/word_embedding_list.pkl
files/ml/humor/datasets/ur_funny/word_to_idx.pkl
files/ml/humor/pretrained_weights
files/ml/humor/pretrained_weights/net1.pth
files/ml/humor/pretrained_weights/net2.pth
files/ml/humor/pretrained_weights/net3.pth
files/ml/humor/pretrained_weights/tri_net.pth
files/ml/nsfw-model
files/ml/nsfw-model.tar.gz
files/ml/nsfw-model/.DS_Store
files/ml/nsfw-model/models
files/ml/nsfw-model/models/.DS_Store
files/ml/nsfw-model/models/.gitkeep
files/ml/nsfw-model/models/latest
files/ml/nsfw-model/models/latest/.DS_Store
files/ml/nsfw-model/models/latest/.gitkeep
files/ml/nsfw-model/models/latest/nsfw_mobilenet_v2_140_224.zip
files/ml/nsfw-model/models/mobilenet_v2_140_224
files/ml/nsfw-model/models/mobilenet_v2_140_224.1.zip
files/ml/nsfw-model/models/mobilenet_v2_140_224/.gitkeep
files/ml/nsfw-model/models/mobilenet_v2_140_224/assets
files/ml/nsfw-model/models/mobilenet_v2_140_224/class_labels.txt
files/ml/nsfw-model/models/mobilenet_v2_140_224/frozen_graph.pb
files/ml/nsfw-model/models/mobilenet_v2_140_224/saved_model_weights.h5
files/ml/nsfw-model/models/mobilenet_v2_140_224/saved_model.h5
files/ml/nsfw-model/models/mobilenet_v2_140_224/saved_model.pb
files/ml/nsfw-model/models/mobilenet_v2_140_224/saved_model.tflite
files/ml/nsfw-model/models/mobilenet_v2_140_224/training_results.txt
files/ml/nsfw-model/models/mobilenet_v2_140_224/variables
files/ml/nsfw-model/models/mobilenet_v2_140_224/variables/variables.data-00000-of-00002
files/ml/nsfw-model/models/mobilenet_v2_140_224/variables/variables.data-00001-of-00002
files/ml/nsfw-model/models/mobilenet_v2_140_224/variables/variables.index
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model_quantized
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model_quantized/group1-shard1of2.bin
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model_quantized/group1-shard2of2.bin
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model_quantized/model.json
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model/group1-shard1of5.bin
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model/group1-shard2of5.bin
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model/group1-shard3of5.bin
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model/group1-shard4of5.bin
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model/group1-shard5of5.bin
files/ml/nsfw-model/models/mobilenet_v2_140_224/web_model/model.json
files/ml/nsfw-model/models/original_inception_v3_model_v1_0
files/ml/nsfw-model/models/original_inception_v3_model_v1_0/.gitkeep
files/ml/nsfw-model/models/original_inception_v3_model_v1_0/min_nsfwjs.zip
files/ml/nsfw-model/models/original_inception_v3_model_v1_0/nsfw.299x299.h5
files/ml/nsfw-model/models/original_inception_v3_model_v1_0/nsfw.299x299.pb
files/ml/nsfw-model/models/original_inception_v3_model_v1_0/nsfwjs.zip
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/.gitkeep
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/latest
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/latest/.DS_Store
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/latest/nsfw_mobilenet_v2_140_224.zip
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/.gitkeep
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/assets
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/class_labels.txt
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/frozen_graph.pb
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/saved_model_weights.h5
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/saved_model.h5
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/saved_model.pb
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/saved_model.tflite
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/training_results.txt
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/variables
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/variables/variables.data-00000-of-00002
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/variables/variables.data-00001-of-00002
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/variables/variables.index
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model_quantized
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model_quantized/group1-shard1of2.bin
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model_quantized/group1-shard2of2.bin
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model_quantized/model.json
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model/group1-shard1of5.bin
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model/group1-shard2of5.bin
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model/group1-shard3of5.bin
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model/group1-shard4of5.bin
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model/group1-shard5of5.bin
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/mobilenet_v2_140_224/web_model/model.json
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/nsfw_mobilenet.pb
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/nsfw_mobilenet2.224x224.h5
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/original_inception_v3_model_v1_0
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/original_inception_v3_model_v1_0/min_nsfwjs.zip
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/original_inception_v3_model_v1_0/nsfw.299x299.h5
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/original_inception_v3_model_v1_0/nsfw.299x299.pb
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/original_inception_v3_model_v1_0/nsfwjs.zip
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/quant_nsfw_mobilenet.pb
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/tfjs_nsfw_mobilenet.zip
files/ml/nsfw-model/models/original_mobilenet_v2_model_v1_0/tfjs_quant_nsfw_mobilenet.zip
